*,
*::before,
*::after {
  text-decoration: none;
  outline: none;
  list-style: none;
  box-shadow: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #5c5c5c;
  font: 300 1.6rem/1.7 "Iransans", sans-serif;
  background: #fff;
}

@font-face {
  font-family: "IranSans";
  src: url("../font/iransans.eot");
  src: url("../font/iransans.eot?#iefix") format("embedded-opentype"), url("../font/iransans.woff2") format("woff2"), url("../font/iransans.woff") format("woff"), url("../font/iransans.ttf") format("truetype");
}