.hover-menu {
    width: 95%;
    background: $color-gray-light;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    top: 6rem;
    right: 2.5%;
    transition: all .2s;

    &:hover {
        display: flex !important;
    }

    &__list {
        transition: all .2s;

        &:hover {
            background: $color-gray-light-2;
        }
    }

    &__list:hover &__item {
        background: $color-gray-light-2;
    }

    &__item {
        color: $color-gray;
        font-weight: 500;
        background: $color-gray-light;
        border-color: $color-gray-light-3;
        display: flex;
        transition: all .2s;

        &:first-child {
            color: $color-secondary;
            border-color: $color-secondary;
        }

        &--hiden {
            visibility: hidden;
        }
    }

    &__item:hover:not(:first-child) {
        color: currentColor;
        background: $color-gray-light-3;
    }

    &__item:active:not(:first-child) {
        color: #fff;
        background: $color-secondary !important;
    }

    &__link {
        color: $color-primary-light;
        cursor: pointer;

        &:hover {
            color: $color-tertiary;
        }
    }

    &__icon {
        width: 1.25rem;
        height: 1.25rem;
        fill: $color-gray;
    }
}