*,
*::before,
*::after {
    text-decoration: none !important;
    outline: none !important;
    list-style: none;
    box-shadow: none !important;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

body {
    color: $color-gray;
    font: 300 1.6rem/1.7 "Iransans" , sans-serif;
    background: $color-primary;
}