*,
*::before,
*::after {
    text-decoration: none !important;
    outline: none !important;
    list-style: none;
    box-shadow: none !important;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

body {
    @include max-width;
    color: $color-gray;
    font: 300 1.6rem/1.7 "Iransans" , sans-serif;
    background: $color-primary;
    padding: 0 3rem;
    padding-top: 6rem;

    @include respond(sm){
        padding: 0;
        padding-top: 6rem;
    }
}