// COLORS
$color-primary: #437593;

$color-secondary: #79b545;
$color-secondary-dark: #68923e;

$color-tertiary: #d95f47;

$color-gray: #5c5c5c;
$color-gray-light: #f5f5f5;
$color-gray-light-2: #ebebeb;
$color-gray-light-3: #e6e6e6;
$color-gray-dark: #323a3f;